{% extends "layouts/main.html" %}

<!-- prettier-ignore -->
{% from "macros/faq.html" import faq %}

<!-- prettier-ignore -->
{% block content %}
<main>
  <div class="container">
    <div class="breadcrumbs text-sm md:text-base font-semibold mt-28 mb-12 lg:mt-40">
      <ul>
        <li><a href="index.html" class="link link-hover hover:link-primary">Home</a></li>
        <li><a href="index.html#services" class="link link-hover hover:link-primary">Services</a></li>
        <li><span class="text-gray-500">{{ global.services[4].title }}</span></li>
      </ul>
    </div>
  </div>
  <div class="container flex flex-col md:flex-row-reverse gap-8 md:gap-6 xl:gap-8 mb-20 md:mb-24 xl:mb-32 items-center xl:justify-between">
    <img src="{{ global.services[4].image }}" alt="{{ global.services[4].image | replace(" @img/services/", "") | replace(".webp", "") | replace("-", " ") | title }}" class="md:w-1/2 object-cover w-full aspect-[4/3] rounded-2xl" />
    <div class="md:w-1/2 flex flex-col justify-center">
      <h1 class="text-4xl/none lg:text-5xl font-black">
        Virtual <br />
        <span class="text-primary">Vet Visits</span>
      </h1>
      <p class="text-base md:text-sm lg:text-lg text-gray-700 mt-4 mb-8 lg:mt-6 lg:mb-12">
        Don’t let your pet suffer in silence, get instant online access to a licensed veterinarian that can answer your questions about your pet’s health, behavior, or nutrition. Whether you need a
        follow-up consultation or a second opinion, our telemedicine service is here for you. Book now and give the best care to your furry friend.
      </p>
      <a href="#request-appointment" class="btn lg:btn-lg btn-secondary mr-auto">Request appointment</a>
    </div>
  </div>
  <div class="container">
    <article
      class="prose lg:prose-lg prose-h2:text-gray-950 prose-h4:text-xl prose-h4:text-accent prose-p:text-gray-700 prose-img:w-full prose-img:object-cover prose-img:rounded-2xl lg:max-w-none md:w-4/6 mx-auto mb-20 md:mb-24 xl:mb-32">
      <h2>What is a Virtual Vet Visit?</h2>

      <p>
        A virtual veterinary visit offers pet owners a convenient way to consult with a licensed veterinarian online via live video chat or phone call to discuss any non-emergency health concerns
        about their furry family members.
      </p>

      <p>
        Virtual vet visits are ideal for obtaining advice about minor conditions, follow-up questions on existing treatments, chronic disease management, prescription refills, vaccination queries, or
        second opinions. They provide an accessible veterinary support option that meaningfully enhances your pet's care between regular in-person exams and hospital visits.
      </p>

      <h2>What to Expect from a Virtual Veterinary Visit</h2>

      <p>
        During a virtual veterinary consultation, you'll have a private video or phone conversation with an experienced veterinarian. It's very similar to an office visit but done from the comfort of
        your own home on your schedule.
      </p>
      <p>
        The vet will inquire about your pet's symptoms, medical history, diet, lifestyle, and overall wellness. You can easily share visuals or videos of any issues through your phone's or computer's
        camera.
      </p>
      <p>
        Based on the case details, the veterinarian will provide guidance on the next best steps, recommend diagnostic tests if needed for a proper diagnosis, prescribe medications or refill
        prescriptions, advise treatment adjustments, and follow up on past treatments under their care.
      </p>
      <p>
        Virtual appointments typically last 10–15 minutes on average, depending on the concern, allowing you to get professional insight and advice about your pet efficiently. However, more time can
        be allotted for complex cases if needed.
      </p>
      <h2>How Virtual Vet Visits Benefit Your Pet</h2>
      <p>
        Virtual vet visits grants pet owners' easy access to veterinary expertise without the hassle of packing up and traveling to the local clinic or hospital, which can be particularly stressful
        for anxious, elderly, or ill pets. They allow close follow-up care, medication access, and peace of mind between in-person visits.
      </p>
      <p>
        In summary, virtual veterinary consultation conveniently enhances your pet's medical care, improves medication compliance, and strengthens the human-animal bond - giving you professional
        support only a click away.
      </p>
      <p>
        Connect with our vets anytime, anywhere, through the convenience of virtual veterinary visits for your pet’s needs. Contact us at Vets ASAP today to schedule your first virtual consultation
        and save on an exam fee!
      </p>
    </article>
  </div>
  <!-- prettier-ignore -->
  {{ faq(global.services[4].faqs, "mb-20 md:mb-24 xl:mb-32") }}
  {% include "partials/formAppointment.html" %} 
  {% include "partials/vetsasapWellnessClub.html" %}
  <div id="services" class="container text-center my-20 md:my-24 xl:my-32">
    <h1 class="text-4xl/none lg:text-5xl font-black mb-12 xl:mb-16">Explore Our Services</h1>
    <div class="flex flex-col sm:flex-row flex-wrap justify-center gap-y-6 xl:gap-y-8 -mx-3 xl:-mx-4">
      {% for service in global.services %}
      <!-- prettier-ignore -->
      {% if loop.index != 5 and loop.index <= 7 %}
      <div class="sm:w-1/2 lg:w-1/3 flex px-3 xl:px-4">
        <a href="{{ service.page }}" class="btn btn-lg w-full h-auto flex flex-col justify-start gap-0 font-normal bg-gray-50 border-0 px-6 py-7">
          <img src="{{ service.icon }}" alt="Cat Sitting" height="64" width="64" class="mx-auto" />
          <h2 class="text-lg xl:text-xl font-bold mt-4 mb-3">{{ service.title }}</h2>
          <p class="text-sm xl:text-base text-gray-700 line-clamp-3">{{ service.description }}</p>
        </a>
      </div>
      {% endif %}
      <!-- prettier-ignore -->
      {% endfor %}
    </div>
    <a href="index.html#services" class="btn lg:btn-lg btn-secondary mt-12 xl:mt-16">Explore more</a>
  </div>
</main>
{% endblock %}
