<div id="request-appointment" class="2xl:container p-3 xl:p-4">
  <div class="bg-primary/25 rounded-2xl py-20 lg:py-24 px-6 text-center relative overflow-hidden">
    <img
      src="@img/dog-paw.svg"
      alt="Dog Paw"
      height="720"
      width="720"
      class="lg:h-[60rem] lg:w-[60rem] rotate-45 absolute -z-10 opacity-50 max-w-none -top-72 -left-60 md:-left-40 lg:-top-[30rem] lg:-left-80 xl:-top-96 xl:-left-56" />
    <img
      src="@img/dog-paw.svg"
      alt="Dog Paw"
      height="360"
      width="360"
      class="lg:h-[30rem] lg:w-[30rem] -rotate-45 absolute -z-10 opacity-50 max-w-none -bottom-7 -right-36 lg:-bottom-8 lg:-right-48 xl:bottom-16" />
    <h1 class="text-4xl/none lg:text-5xl text-secondary font-black mb-9 lg:mb-12">
      Schedule a <br class="sm:hidden" />
      Stress Free Visit <br class="sm:hidden" />
      Today!
    </h1>
    <form action="javascript:void(0)" class="sm:w-3/4 lg:w-3/5 xl:w-1/2 flex flex-wrap justify-center gap-6 xl:gap-8 mx-auto">
      <div class="form-control w-full sm:flex-1">
        <label class="label">
          <span class="label-text">Full name</span>
        </label>
        <input type="text" placeholder="Your name" class="input lg:input-lg input-secondary border-0" />
      </div>
      <div class="form-control w-full sm:flex-1">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input type="email" placeholder="your@email.com" class="input lg:input-lg input-secondary border-0" />
      </div>
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Subject</span>
        </label>
        <input type="text" placeholder="Enter subject" class="input lg:input-lg input-secondary border-0" />
      </div>
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Message</span>
        </label>
        <textarea class="textarea textarea-lg textarea-secondary border-0 h-28 md:h-32" placeholder="Enter your message"></textarea>
      </div>
      <button class="btn btn-secondary lg:btn-lg mt-6">Request appointment</button>
    </form>
  </div>
</div>
