<div class="container flex flex-col md:flex-row-reverse gap-8 md:gap-6 xl:gap-8 mt-20 md:mt-24 xl:mt-32 items-center xl:justify-between">
  <img src="@img/services/man-stroking-dog.webp" alt="Man Stroking Dog" class="md:w-1/2 object-cover w-full aspect-[4/3] rounded-2xl" />
  <div class="md:w-1/2 flex flex-col justify-center">
    <h1 class="text-4xl/none lg:text-5xl font-black">
      <span class="text-primary block">VetsASAP</span>
      Wellness Club
    </h1>
    <p class="text-base md:text-sm lg:text-lg text-gray-700 mt-4 mb-8 lg:mt-6 lg:mb-12">
      Experience exceptional veterinary care delivered to your doorstep. Our dedicated team of experienced veterinarians provides personalized and compassionate services, ensuring your pet's
      well-being in the comfort of home.
    </p>
    <a href="index.html#about-us" class="btn lg:btn-lg btn-secondary mr-auto">Learn more</a>
  </div>
</div>
